{% extends "inline.html.twig" %}

{% block menu %}{% endblock %}

{% block main %}
	<div class="container col-md-3 col-sm-12 mt-5">
		<a class="btn validationButton bgColorTwo border-0" href="{{path('account_show')}}">Retour</a>

		<hr class="my-2">
		<h4>Modification du mot de passe</h4>
		<hr class="my-2">

		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn validationButton border-0" type="submit">Modifier le mot de passe</button>
		{{ form_end(form) }}
	</div>

{% endblock %}



