{% extends "inline.html.twig" %}

{% block main %}
	<div class="container-fluid">
		<div class="row d-flex justify-content-around text-center">

			<div class="col-md-3 col-sm-12 mt-5">
				<div>
					<div class="card topBtn bottomBtn border-0">
						<div class="card-header h4 bgColorTwo ranchoStyle">Astuce !</div>
						<div class="card-body">
							<small>Vous pouvez créer en avance plusieurs évènements<br> et rajouter des convives plus tard !</small>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-12 mt-5">
				<div class="text-center">
					<div class="card topBtn bottomBtn border-0">
						<div class="cardHeader h4 bgColorTwo ranchoStyle">Mon évènement !</div>
						<div class="card-body">
							{{ form_start(form)}}
							{{ form_widget(form)}}
							<button type="submit" class="btn validationButton">Valider</button>
							{{ form_end(form) }}
						</div>
					</div>
					<br><br>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
