{% extends 'base.html.twig' %}

{% block title %}Hello InvitationController!{% endblock %}

{% block main %}

<button type="submit"><a href="{{ path('invitation_transfert') }}">migrer</a></button>

{% endblock %}
