{% extends "/home/home.html.twig" %}

{% block title %}Mot-de-passe
{% endblock %}

{% block main %}

	<div class="container col-md-3 mt-5">
		{% for flashError in app.flashes('reset_password_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}


		<h4>Mise à jour de votre mot de passe</h4>
		<div class="mt-4">
			{{ form_start(requestForm) }}
			{{ form_row(requestForm.email) }}
			<b>Entrez votre adresse email afin de récuperer votre mot de passe.</b>
			<button class="btn validationButton mt-4">Confirmer la demande</button>
			{{ form_end(requestForm) }}
		</div>
	</div>


{% endblock %}

{% block menu %}{% endblock %}
