@font-face {
    font-family: 'ranchoregular';
    src: url('/css/rancho-regular-webfont.woff2') format('woff2'),
         url('/css/rancho-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
