{% extends "/home/home.html.twig" %}

{% block title %}
	Accès hors connexion impossible !
{% endblock %}

{% block main %}
	<div class="container">
		<h1>Page inaccessible hors connexion !</h1>
		<p>Veuillez vous reconnecter pour accéder à cette page.</p>
		<a href="{{ path('user_login') }}">
			<button class="btn btn-sm px-4 my-1">Me reconnecter</button>
		</a>
	</div>
{% endblock %}
